@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.form-group {
  margin-bottom: 0; }

.form-control {
  box-shadow: none;
  border-radius: 0; }
  .form-control:focus {
    box-shadow: none;
    border-color: inherit; }

.btn:hover, .btn:focus, .btn.active {
  box-shadow: none; }

.container,
.container-fluid {
  padding-left: 5px;
  padding-right: 5px; }
  .container .row,
  .container-fluid .row {
    margin-left: 0;
    margin-right: 0; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 10px;
      padding-right: 10px; }
      .container .row,
      .container-fluid .row {
        margin-left: 0;
        margin-right: 0; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

html {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%; }
  html.gnb-open {
    overflow: hidden; }

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #666;
  line-height: 26px; }
  @media (min-width: 768px) {
    body {
      font-size: 14px;
      line-height: 24px; } }
  @media (min-width: 1200px) {
    body {
      font-size: 15px;
      line-height: 27px; } }

a {
  color: #666; }
  a:hover {
    color: #666; }

html.gnb-open {
  overflow: hidden;
  width: 100%;
  height: 100%; }

body.gnb-open {
  overflow: hidden;
  width: 100%;
  height: 100%; }
  body.gnb-open #gnb-aside {
    left: 0; }
    body.gnb-open #gnb-aside > .content {
      left: 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  body.gnb-open #wrapper {
    overflow: hidden;
    left: 270px;
    min-width: 320px; }
    body.gnb-open #wrapper #top-nav {
      left: 270px; }
      body.gnb-open #wrapper #top-nav .search-area {
        left: 270px; }
  @media (min-width: 768px) {
    body.gnb-open #wrapper {
      left: 640px;
      min-width: 768px; }
      body.gnb-open #wrapper #top-nav {
        left: 640px; }
        body.gnb-open #wrapper #top-nav .search-area {
          left: 640px; } }
  @media (min-width: 1200px) {
    body.gnb-open {
      overflow: auto; }
      body.gnb-open #wrapper {
        left: 0; }
        body.gnb-open #wrapper #top-nav {
          left: 0; }
          body.gnb-open #wrapper #top-nav .search-area {
            left: 0; } }

#top-bn .container {
  position: relative;
  padding-left: 0;
  padding-right: 0; }
  #top-bn .container .img-responsive {
    margin: 0 auto; }
  #top-bn .container .btn-close {
    position: absolute;
    top: 50%;
    right: 10px;
    padding: 0;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    border: 0;
    border-radius: 0;
    background-color: transparent; }
    #top-bn .container .btn-close img {
      width: 100%;
      height: 100%; }
  @media (min-width: 1200px) {
    #top-bn .container {
      width: 1200px; }
      #top-bn .container .btn-close {
        margin-top: -21px;
        width: 43px;
        height: 43px; } }

#wrapper {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: left .3s;
  transition: left .3s; }

#gnb-aside {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9000; }
  #gnb-aside > .content {
    position: fixed;
    left: -270px;
    padding-top: 45px;
    width: 270px;
    height: 100%;
    background-color: #fff;
    -webkit-transition: left .3s;
    transition: left .3s; }
    #gnb-aside > .content > div {
      overflow: auto;
      height: 100%; }
    #gnb-aside > .content header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 45px;
      background-color: #f57f26; }
      #gnb-aside > .content header h1 {
        margin-left: 10px;
        margin-top: 10px; }
        #gnb-aside > .content header h1 img {
          display: block;
          width: 107px; }
      #gnb-aside > .content header .btn-close {
        position: absolute;
        top: 6px;
        right: 6px;
        padding: 0;
        width: 33px;
        height: 33px;
        border: 0;
        background-color: transparent; }
    #gnb-aside > .content .member ul {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-bottom: 1px solid #e8e8e8;
      border-collapse: collapse; }
      #gnb-aside > .content .member ul li {
        display: table-cell;
        text-align: center;
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8; }
        #gnb-aside > .content .member ul li a {
          display: block;
          font-size: 13px;
          line-height: 38px;
          text-decoration: none; }
          #gnb-aside > .content .member ul li a:hover, #gnb-aside > .content .member ul li a:focus {
            color: #ec6708; }
        #gnb-aside > .content .member ul li:first-child {
          border-left: 0; }
        #gnb-aside > .content .member ul li:last-child {
          border-right: 0; }
    #gnb-aside > .content .quick ul {
      overflow: hidden; }
      #gnb-aside > .content .quick ul li {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        width: 50%; }
        #gnb-aside > .content .quick ul li div {
          padding-top: 15px;
          padding-bottom: 15px;
          height: 135px;
          border-bottom: 1px solid #f3f3f3; }
          #gnb-aside > .content .quick ul li div a {
            display: block;
            margin-left: -15px;
            margin-right: -15px;
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
            height: 105px;
            border-right: 1px solid #f3f3f3;
            text-align: center;
            line-height: 20px;
            text-decoration: none; }
            #gnb-aside > .content .quick ul li div a:before {
              position: relative;
              display: block;
              margin-bottom: 10px;
              height: 40px;
              background-repeat: no-repeat;
              background-size: auto 100%;
              background-position: 50% 50%;
              content: '';
              text-decoration: none; }
            #gnb-aside > .content .quick ul li div a small {
              font-size: 10px;
              color: #ec6708;
              font-family: 'Roboto', sans-serif; }
            #gnb-aside > .content .quick ul li div a b {
              display: block;
              font-size: 13px;
              color: #333;
              font-weight: 500; }
        #gnb-aside > .content .quick ul li:nth-of-type(2) ~ li div {
          border-bottom: 0; }
        #gnb-aside > .content .quick ul li:nth-of-type(2n) div a {
          border-right: 0; }
        #gnb-aside > .content .quick ul li.time div a:before {
          background-image: url(/assets/images/ico_watch.png); }
        #gnb-aside > .content .quick ul li.floor div a:before {
          background-image: url(/assets/images/ico_flag.png); }
        #gnb-aside > .content .quick ul li.contact div a:before {
          background-image: url(/assets/images/ico_mappin.png); }
        #gnb-aside > .content .quick ul li.membership div a:before {
          background-image: url(/assets/images/ico_card.png); }
    #gnb-aside > .content .menu {
      border-top: 2px solid #ec6708; }
      #gnb-aside > .content .menu > ul > li > a {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
        line-height: 49px;
        border-bottom: 1px solid #dfdfdf;
        background-color: #f7f7f7;
        text-decoration: none;
        font-size: 13px; }
        #gnb-aside > .content .menu > ul > li > a:after {
          float: right;
          font-family: 'fontello';
          content: '\E804'; }
        #gnb-aside > .content .menu > ul > li > a:hover, #gnb-aside > .content .menu > ul > li > a:focus {
          color: #ec6708; }
      #gnb-aside > .content .menu > ul > li > ul {
        display: none;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dfdfdf; }
        #gnb-aside > .content .menu > ul > li > ul > li > a {
          display: block;
          padding-left: 30px;
          padding-right: 10px;
          line-height: 30px;
          font-size: 12px;
          color: #aaa;
          text-decoration: none; }
          #gnb-aside > .content .menu > ul > li > ul > li > a:after {
            float: right;
            font-family: 'fontello';
            content: '\F105'; }
          #gnb-aside > .content .menu > ul > li > ul > li > a:hover, #gnb-aside > .content .menu > ul > li > ul > li > a:focus {
            color: #ec6708; }
      #gnb-aside > .content .menu > ul > li.active > a {
        background-color: #ec6708;
        color: #fff; }
        #gnb-aside > .content .menu > ul > li.active > a:after {
          content: '\F106'; }
      #gnb-aside > .content .menu > ul > li.active > ul {
        display: block; }
  @media (min-width: 768px) {
    #gnb-aside > .content {
      left: -640px;
      padding-top: 54px;
      width: 640px; }
      #gnb-aside > .content header {
        height: 54px; }
        #gnb-aside > .content header h1 {
          margin-left: 20px; }
          #gnb-aside > .content header h1 img {
            width: 139px; }
        #gnb-aside > .content header .btn-close {
          top: 10px;
          right: 10px; }
      #gnb-aside > .content .quick ul li {
        padding-left: 0;
        padding-right: 0;
        width: 25%; }
        #gnb-aside > .content .quick ul li div {
          margin-top: 60px;
          margin-bottom: 120px;
          padding-top: 0;
          padding-bottom: 0;
          height: 70px;
          border-bottom: 0;
          border-right: 1px solid #f3f3f3; }
          #gnb-aside > .content .quick ul li div a {
            margin-left: 0;
            margin-right: 0;
            padding: 0;
            height: 140px;
            border-right: 0; }
            #gnb-aside > .content .quick ul li div a small {
              font-size: 11px; }
            #gnb-aside > .content .quick ul li div a b {
              font-size: 15px; }
            #gnb-aside > .content .quick ul li div a:before {
              margin-bottom: 30px;
              height: 70px; }
        #gnb-aside > .content .quick ul li:last-child div a {
          border-right: 0 !important; }
      #gnb-aside > .content .menu > ul > li > a {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px; }
      #gnb-aside > .content .menu > ul > li > ul > li > a {
        padding-left: 40px;
        padding-right: 20px;
        font-size: 13px;
        line-height: 35px; } }

#header {
  background-image: url(/assets/images/bg_header.jpg);
  background-size: 200% auto;
  background-position: 50% 50%; }
  @media (min-width: 768px) {
    #header {
      background-size: cover;
      background-position: 50% 50%; } }

#top-nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1050;
  width: 100%;
  min-width: 320px;
  height: 45px;
  background-color: #222;
  -webkit-transition: left .3s;
  transition: left .3s; }
  #top-nav .btn-menu {
    margin-top: 5px;
    margin-left: -6px;
    padding: 10px 6px;
    border: 0;
    width: 34px;
    height: 35px;
    background-color: transparent; }
    #top-nav .btn-menu .bar {
      display: block;
      width: 22px;
      height: 3px;
      background-color: #ec6708;
      border-radius: 1px; }
      #top-nav .btn-menu .bar + .bar {
        margin-top: 3px; }
  #top-nav .logo {
    margin-top: 7px; }
    #top-nav .logo img {
      display: block;
      margin: 0 auto;
      width: 110px; }
  #top-nav .btn-toggle-search {
    float: right;
    margin-top: 5px;
    margin-left: -6px;
    padding: 0;
    border: 0;
    width: 34px;
    height: 35px;
    background-color: transparent;
    color: #999;
    font-size: 18px; }
    #top-nav .btn-toggle-search:before {
      font-family: 'fontello';
      content: '\E800'; }
  #top-nav .search-area {
    display: none;
    position: fixed;
    top: 45px;
    left: 0;
    padding-right: 35px;
    min-width: 320px;
    width: 100%;
    height: 35px;
    background-color: #3e4347;
    -webkit-transition: left .3s;
    transition: left .3s; }
    #top-nav .search-area ::-webkit-input-placeholder {
      font-family: 'Myriad Pro', sans-serif;
      font-size: 11px; }
    #top-nav .search-area ::-moz-placeholder {
      font-family: 'Myriad Pro', sans-serif;
      font-size: 11px; }
    #top-nav .search-area ::-ms-input-placeholder {
      font-family: 'Myriad Pro', sans-serif;
      font-size: 11px; }
    #top-nav .search-area ::-moz-placeholder {
      font-family: 'Myriad Pro', sans-serif;
      font-size: 11px; }
    #top-nav .search-area .form-control {
      border: 0;
      background-color: transparent;
      color: #999;
      font-size: 12px; }
    #top-nav .search-area .btn-global-search {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      width: 35px;
      height: 35px;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      color: #999; }
    #top-nav .search-area .results {
      display: none;
      position: absolute;
      top: 35px;
      width: 100%;
      background-color: #3e4347;
      border-top: 1px solid rgba(255, 255, 255, 0.1); }
      #top-nav .search-area .results ul {
        padding-top: 10px;
        padding-bottom: 10px; }
        #top-nav .search-area .results ul li a {
          display: block;
          padding-left: 12px;
          padding-right: 12px;
          font-size: 12px;
          line-height: 2em;
          color: #fff;
          text-decoration: none;
          font-weight: 300; }
          #top-nav .search-area .results ul li a:hover, #top-nav .search-area .results ul li a:focus {
            color: #ec6708; }
      #top-nav .search-area .results .nothing {
        padding: 10px 12px;
        font-size: 12px;
        line-height: 2em;
        font-weight: 300;
        color: #999; }
  #top-nav.search-open .btn-toggle-search:before {
    font-family: 'fontello';
    content: '\E806'; }
  #top-nav.search-open .search-area {
    display: block; }
  @media (min-width: 768px) {
    #top-nav {
      height: 54px; }
      #top-nav .btn-menu {
        margin-top: 9px; }
      #top-nav .logo {
        margin-top: 8px; }
        #top-nav .logo img {
          width: 136px; }
      #top-nav .btn-toggle-search {
        margin-top: 9px; }
      #top-nav .search-area {
        top: 54px; }
        #top-nav .search-area .results ul li a {
          font-size: 16px;
          line-height: 34px; }
        #top-nav .search-area .results .nothing {
          font-size: 16px;
          line-height: 34px; } }
  @media (min-width: 1200px) {
    #top-nav {
      position: relative;
      height: 35px; }
      #top-nav .logo {
        margin-top: 60px;
        }
        #top-nav .logo img {
          width: 281px; }
      #top-nav .member {
        margin-top: 4px; }
        #top-nav .member li {
          display: inline; }
          #top-nav .member li a {
            float: left;
            font-family: 'Lato', sans-serif;
            font-size: 11px;
            color: #aaa; }
          #top-nav .member li + li:before {
            float: left;
            margin-top: -1px;
            margin-left: 8px;
            margin-right: 8px;
            content: '\7C';
            font-size: 8px; }
      #top-nav .sns li {
        display: inline; }
        #top-nav .sns li a {
          float: left;
          margin-left: -1px;
          width: 36px;
          height: 35px;
          border-left: 1px solid #333;
          border-right: 1px solid #333;
          color: #888;
          text-align: center;
          line-height: 35px;
          text-decoration: none; }
          #top-nav .sns li a:hover, #top-nav .sns li a:focus {
            background-color: #333; }
          #top-nav .sns li a.blog {
            font-family: 'Arial', sans-serif;
            font-weight: bold; }
      #top-nav .search-area {
        display: block;
        position: relative;
        top: inherit;
        left: inherit;
        margin-left: 70px;
        min-width: inherit;
        width: auto; }
        #top-nav .search-area .results ul li a {
          font-size: 12px;
          line-height: 24px; }
        #top-nav .search-area .results .nothing {
          font-size: 12px;
          line-height: 24px; }
      #top-nav.search-open .search-area {
        display: block; } }

#gnb {
  overflow: hidden;
  clear: both;
  position: absolute;
  z-index: 1039;
  top: 160px;
  width: 100%;
  height: 48px;
  -webkit-transition: width, height .3s;
  transition: width, height .3s;
  }
  #gnb .container {
    height: 100%; }
    #gnb .container > ul {
      overflow: hidden;
      height: 100%;
      background-color: #fff; }
      #gnb .container > ul > li {
        position: relative;
        float: left;
        width: 20%; }
        #gnb .container > ul > li > a {
          display: block;
          width: 100%;
          height: 48px;
          color: #fff;
          background-color: #3e4347;
          text-align: center;
          line-height: 48px;
          border-left: 1px solid rgba(0, 0, 0, 0.5);
          border-right: 1px solid rgba(255, 255, 255, 0.1);
          text-decoration: none; }
          #gnb .container > ul > li > a:focus, #gnb .container > ul > li > a:hover {
            background-color: #f57f26; }
        #gnb .container > ul > li:hover > a, #gnb .container > ul > li.selected > a {
          background-color: #f57f26; }
        #gnb .container > ul > li:first-child > a {
          border-left: 0; }
        #gnb .container > ul > li:first-child > div > ul {
          border-left: 0; }
        #gnb .container > ul > li:last-child > a {
          border-right: 0; }
        #gnb .container > ul > li > div {
          display: none;
          padding-top: 30px;
          padding-bottom: 30px;
          height: 260px; }
          #gnb .container > ul > li > div > ul {
            overflow: hidden;
            height: 200px;
            border-left: 1px solid #d5d5d5; }
            #gnb .container > ul > li > div > ul > li > a {
              display: block;
              font-size: 14px;
              line-height: 33px;
              color: #666;
              text-align: center;
              text-decoration: none; }
              #gnb .container > ul > li > div > ul > li > a:hover, #gnb .container > ul > li > div > ul > li > a:focus {
                color: #ec6708; }
  #gnb.opened {
    height: 308px; }
    #gnb.opened .container > ul > li > div {
      display: block; }
  #gnb.fixed {
    position: fixed;
    top: 0 !important;
    background-image: url(/assets/images/bg_gnb.gif);
    background-repeat: repeat-x;
    background-size: auto 48px;
    background-color: #fff; }

.jumbo {
  padding-top: 90px;
  padding-bottom: 40px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: #fff; }
  .jumbo h1 {
    margin-bottom: 20px;
    font-size: 33px;
    font-family: 'Lato', sans-serif;
    font-weight: bold; }
    .jumbo h1 small {
      display: none;
      font-weight: 400; }
  .jumbo p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 300; }
  @media (min-width: 768px) {
    .jumbo {
      padding-top: 120px;
      padding-bottom: 30px;
      padding-left: 0;
      padding-right: 0;
      }
      .jumbo h1 {
        margin-bottom: 0;
        font-size: 50px;
        line-height: 90px;
        }
        .jumbo h1 small {
          display: block;
          color: #fff;
          font-size: 26px;
          font-family: 'Noto Sans KR', sans-serif; }
      .jumbo p {
        font-size: 16px;
        line-height: 27px; } }
  @media (min-width: 1200px) {
    .jumbo {
      padding-top: 225px;
      } }

#content {
  background-color: #f8f8f8; }
  #content .page-header {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    /* padding-top: 40px; */
    padding-bottom: 30px;
    border-bottom: 0;
    text-align: center;
    }
    #content .page-header.has-snb {
      padding-top: 90px; }
    #content .page-header h1 {
      font-size: 27px;
      color: #060032;
      font-weight: normal;
      letter-spacing: -1px; }
      #content .page-header h1 .square1 {
        font-weight: bold; }
        #content .page-header h1 .square1 i {
          font-style: normal;
          color: #ec6708;
          font-size: 1.4em;
          font-weight: normal; }
    @media (min-width: 768px) {
      #content .page-header {
        /* padding-top: 60px; */
        padding-bottom: 50px;
        }
        #content .page-header h1 {
          font-size: 34px; } }
  #content .snb {
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 1; }
    #content .snb .container {
      padding-left: 10px;
      padding-right: 10px; }
    #content .snb .btn {
      padding: 0 0 0 10px;
      height: 36px;
      border: 1px solid #ececec;
      border-radius: 0;
      text-align: left;
      font-size: 12px;
      color: #666;
      background-color: #fff;
      line-height: 34px; }
      #content .snb .btn:after {
        float: right;
        width: 30px;
        height: 34px;
        font-family: 'fontello';
        content: '\F107';
        background-color: #35455c;
        color: #fff;
        text-align: center; }
    #content .snb nav {
      display: none; }
      #content .snb nav ul li {
        display: inline; }
        #content .snb nav ul li a {
          float: left;
          margin-top: -1px;
          padding-left: 10px;
          padding-right: 10px;
          width: 100%;
          text-align: left;
          border: 1px solid #dfdfdf;
          background-color: #fff;
          font-size: 12px;
          text-decoration: none;
          line-height: 36px; }
          #content .snb nav ul li a:hover, #content .snb nav ul li a:focus {
            color: #ec6708; }
    #content .snb.open .btn:after {
      content: '\F106'; }
    #content .snb.open nav {
      display: block; }
    @media (min-width: 768px) {
      #content .snb {
        position: relative;
        top: inherit;
        margin-top: 40px; }
        #content .snb .btn {
          display: none; }
        #content .snb nav {
          display: block; }
          #content .snb nav ul {
            display: inline-block; }
            #content .snb nav ul li {
              display: inline; }
              #content .snb nav ul li a {
                position: relative;
                float: left;
                margin-top: 0;
                margin-left: -1px;
                width: 200px;
                text-align: center;
                font-size: 14px;
                line-height: 50px; }
              #content .snb nav ul li:first-child a {
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px; }
              #content .snb nav ul li:last-child a {
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px; }
              #content .snb nav ul li.active a {
                background-color: #35455c;
                color: #fff; } }

#lnb {
  height: 50px;
  border-bottom: 1px solid #ccc;
  background-color: #fff; }
  #lnb ul {
    display: table;
    width: 100%;
    table-layout: fixed; }
    #lnb ul li {
      display: table-cell;
      padding-top: 0;
      padding-bottom: 0; }
      #lnb ul li a {
        display: block;
        height: 50px;
        border: 0;
        line-height: 49px;
        font-size: 16px;
        color: #222;
        text-decoration: none;
        text-align: center; }
        #lnb ul li a:hover, #lnb ul li a:focus {
          background-color: transparent;
          border-bottom: 2px solid #ec6708;
          line-height: 48px; }
      #lnb ul li.active a {
        background-color: transparent;
        border-bottom: 2px solid #ec6708;
        line-height: 48px; }

#footer {
  padding-top: 25px;
  background-color: #ececec;
  border-top: 1px solid #e5e5e5;
  line-height: 18px; }
  #footer .policy {
    margin: 0 auto;
    width: 300px;
    text-align: center; }
    #footer .policy li {
      display: inline; }
      #footer .policy li a {
        font-size: 12px;
        line-height: 18px;
        color: #999;
        white-space: nowrap;
        font-weight: lighter; }
      #footer .policy li + li:before {
        margin-left: 10px;
        margin-right: 10px;
        content: '\B7';
        color: #666; }
      #footer .policy li:nth-of-type(4):before {
        margin-left: 0;
        margin-right: 0;
        content: ''; }
  #footer .company,
  #footer .business {
    margin: 0 auto 0;
    width: 300px;
    text-align: center;
    font-weight: lighter; }
    #footer .company li,
    #footer .business li {
      display: inline;
      white-space: nowrap;
      font-size: 12px;
      color: #666; }
      #footer .company li address,
      #footer .business li address {
        display: inline; }
      #footer .company li + li:before,
      #footer .business li + li:before {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        content: '\7C';
        font-size: 8px;
        vertical-align: 2px; }
  #footer .company {
    margin-top: 10px; }
    #footer .company li:nth-of-type(2):before {
      margin-left: 0;
      margin-right: 0;
      content: ''; }
  #footer .copyright {
    margin: 20px auto 0;
    width: 300px;
    text-align: center;
    font-size: 12px;
    color: #666;
    font-weight: lighter; }
    #footer .copyright a {
      display: inline-block;
      color: #bbb; }
  #footer .sns {
    margin-top: 25px;
    text-align: center; }
    #footer .sns li {
      display: inline; }
      #footer .sns li a {
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: #acacac;
        line-height: 34px;
        text-align: center;
        color: #fff;
        text-decoration: none; }
        #footer .sns li a:hover, #footer .sns li a:focus {
          background-color: #999; }
        #footer .sns li a.facebook {
          font-size: 20px; }
        #footer .sns li a.blog {
          font-size: 21px;
          font-family: 'Arial', sans-serif;
          font-weight: bold; }
        #footer .sns li a.instagram {
          font-size: 20px;
          line-height: 31px;
          vertical-align: 2px; }
  #footer nav {
    /*
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    */
    margin-top: 35px;
    height: 45px; }
    #footer nav ul {
      overflow: hidden; }
      #footer nav ul li {
        float: left;
        width: 50%; }
        #footer nav ul li a {
          display: block;
          width: 100%;
          height: 45px;
          text-align: center;
          line-height: 45px;
          color: #fff;
          font-size: 12px;
          border-right: 1px solid #d90000;
          border-left: 1px solid #fbb90e;
          background-color: #ec6708;
          text-decoration: none; }
          #footer nav ul li a:before {
            margin-right: 5px;
            font-family: 'fontello'; }
        #footer nav ul li:nth-of-type(1) a {
          border-left: 0; }
          #footer nav ul li:nth-of-type(1) a:before {
            content: '\E801'; }
        #footer nav ul li:nth-of-type(2) a {
          border-right: 0; }
          #footer nav ul li:nth-of-type(2) a:before {
            content: '\E802'; }
        #footer nav ul li:nth-of-type(3) a:before {
          content: '\E803'; }
  @media (min-width: 768px) {
    #footer {
      padding-top: 45px;
      line-height: 20px; }
      #footer .policy {
        width: auto; }
        #footer .policy li:nth-of-type(4):before {
          margin-left: 10px;
          margin-right: 10px;
          content: '\B7';
          color: #999; }
        #footer .policy li a {
          font-size: 15px;
          line-height: 20px; }
      #footer .company {
        margin-top: 15px; }
        #footer .company li:nth-of-type(2):before {
          display: inline-block;
          margin-left: 10px;
          margin-right: 10px;
          content: '\7C';
          font-size: 8px; }
      #footer .company li,
      #footer .business li {
        font-size: 13px; }
      #footer .company,
      #footer .business,
      #footer .copyright {
        width: auto; }
      #footer .sns li a {
        width: 40px;
        height: 40px;
        line-height: 40px; }
        #footer .sns li a.facebook {
          font-size: 22px; }
        #footer .sns li a.blog {
          font-size: 25px; }
        #footer .sns li a.instagram {
          font-size: 24px;
          line-height: 34px;
          vertical-align: 2px; }
      #footer nav {
        margin-top: 40px;
        height: 54px; }
        #footer nav ul li a {
          font-size: 15px;
          height: 54px;
          line-height: 54px; } }
  @media (min-width: 1200px) {
    #footer {
      padding-top: 40px;
      padding-bottom: 50px; }
      #footer .policy,
      #footer .company,
      #footer .business,
      #footer .copyright {
        text-align: left; }
      #footer .policy li a {
        font-size: 13px; }
      #footer .company {
        margin-top: 25px; }
      #footer .copyright {
        margin-top: 0;
        font-size: 13px; }
      #footer .sns {
        margin-top: 45px;
        float: right; }
        #footer .sns li a.instagram {
          font-size: 26px;
          line-height: 38px;
          vertical-align: 0; } }

#sns-quick {
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -50px;
  width: 50px; }
  @media (min-width: 1200px) {
    #sns-quick {
      display: block; } }
  #sns-quick ul li a {
    position: relative;
    left: 0;
    display: block;
    width: 175px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: left .2s;
    transition: left .2s; }
    #sns-quick ul li a:hover, #sns-quick ul li a:focus {
      left: -125px; }
    #sns-quick ul li a:before {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 15px;
      font-family: 'fontello';
      text-align: center;
      font-size: 1.5em;
      vertical-align: middle; }
    #sns-quick ul li a.facebook {
      background-color: #3c5a99; }
      #sns-quick ul li a.facebook:before {
        content: '\F09A'; }
    #sns-quick ul li a.instagram {
      margin-top: 1px;
      background-color: #3e4347; }
      #sns-quick ul li a.instagram:before {
        content: '\F16D'; }

/*# sourceMappingURL=default.css.map */
